body{
  color: white;
  background-image: url(https://lupinepublishers.com/admin-internal/uploads/journals/185313adminLupinepublishers-openaccess-Agriculturejournals-CIACR.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
