body{
  margin-top: 200px;
  text-align: center;
  background-image: url(https://www.shfpact.org.au/images/shfpact/Employment-job-opportunities-canberra.jpg);
  background-size: cover;
  background-repeat: no-repeat;

}
